{% load static %}
<!-- carta de producto -->
<article class="single_product">
    <figure>
        <div class="product_thumb">
            {% if product.image %}
            <a class="primary_img" href="{% url 'products:product' product.slug %}">
              <img src="{{ product.image.url }}" alt="Imagen del producto" height="212px" width="212px">
            </a>
            {% endif %}
            <div class="action_links">
                <a class="boton-product" data-toggle="modal" data-target="#modal_box"><span class="lnr lnr-magnifier"></span> Vista rápida</a>
            </div>
        </div>
        <figcaption class="product_content">
            <h4 class="product_name">{{ product.title }}</h4>
            <p><a href="#">Categoria</a></p>
            <div class="price_box"> 
                <span class="current_price">{{ product.price }}</span>
            </div>
        </figcaption>
    </figure>
  </article>