<div class="col-12 ">
    <div class="single_product">
        <div class="product_thumb">
                {% if product.image %}
                <a class="primary_img" href="{% url 'products:product' product.slug %}">
                    <img src="{{ product.image.url }}" height="600px">
                </a>
                {% endif %}
                <div class="action_links">
                    <ul>
                        <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box"><span class="lnr lnr-magnifier"></span> Vista rápida</a></li>
                    </ul>
                </div>
        </div>
        <div class="product_content grid_content">
                <h4 class="product_name"><a href="{% url 'products:product' product.slug %}">{{ product.title }}</a></h4>
                <p><a href="#">Categoria</a></p>
                <div class="price_box"> 
                    <span class="current_price">{{ product.price }}</span>
                </div>
            </div>
        <div class="product_content list_content">
            <a href="{% url 'products:product' product.slug %}"><h4 class="product_name">{{ product.title }}</h4></a>
            <p><a href="#">Categoria</a></p>
            <div class="price_box"> 
                <span class="current_price">{{ product.price }}</span>
            </div>
            <div class="product_desc">
                <p>{{ product.description | truncatewords:15 }}</p>
            </div>
            <div class="action_links list_action_right">
                <a class="boton-product" data-toggle="modal" data-target="#modal_box"><span class="lnr lnr-magnifier"></span> Vista rápida</a>
            </div>
        </div>
    </div>
</div>

