{% extends 'base.html' %}


{% block breadcrumb %}
  {% include 'orders/snippets/breadcrumb.html' %}
{% endblock %}

{% block content %}
  <div id="select-adress-body">
    <div class="select-adress">  
        <div class="col">
            <div class="h4">
                Selecciona una dirección de envío
            </div>
            <div class="mt-2">
              {% for shipping_address in shipping_addresses %}
                <div class="card mb-2">
                    <div class="card-body">
                    <h5 class="card-title">{{ shipping_address.address }}</h5>
                    <br>
                    <p class="card-title">{{ shipping_address.postal_code }}</p>
                    <a href="{% url 'orders:check_address' shipping_address.pk %}" class="btn btn-success btn-block">
                        Seleccionar
                    </a>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>  
  </div>
{% endblock %}